flows.json
[
    {
        "id": "aa0e170c91379e2f",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8c761bcddb6e0b85",
        "type": "tab",
        "label": "Fluxo de login",
        "disabled": false,
        "info": "Neste consta os fluxos de cadastro e login do usuário",
        "env": []
    },
    {
        "id": "ddef06d8d0048305",
        "type": "global-config",
        "name": "global-config",
        "env": []
    },
    {
        "id": "efbcd60e6a02a05e",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "8a77e8fa5a34a8c0",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "be1439f3a0ba43d1",
        "type": "ui_group",
        "name": "Entrada de informação",
        "tab": "8a77e8fa5a34a8c0",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9b81770e912bf6fa",
        "type": "ui_group",
        "name": "Saída de informação",
        "tab": "8a77e8fa5a34a8c0",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a1189548f1bad27e",
        "type": "ui_tab",
        "name": "login",
        "icon": "login",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b77ad3d3025c33ce",
        "type": "ui_group",
        "name": "Criar login",
        "tab": "fad7740d4433ba8a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a6d03c119ba764d7",
        "type": "ui_group",
        "name": "login",
        "tab": "a1189548f1bad27e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fad7740d4433ba8a",
        "type": "ui_tab",
        "name": "Criar login",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9d61c4da23fb66b7",
        "type": "ui_group",
        "name": "Transição",
        "tab": "a1189548f1bad27e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1d0da4a58b5848a4",
        "type": "ui_group",
        "name": "Transição",
        "tab": "8a77e8fa5a34a8c0",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "96e76148eab11ebb",
        "type": "ui_group",
        "name": "Transição",
        "tab": "fad7740d4433ba8a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "67c72f5a3755b7ed",
        "type": "e-mail",
        "z": "aa0e170c91379e2f",
        "server": "${EMAIL_SERVER}",
        "port": "${EMAIL_PORT}",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": false,
        "tls": false,
        "name": "",
        "dname": "envio de email",
        "x": 620,
        "y": 80,
        "wires": [],
        "info": "As configurações precisam estar nas variáveis de amviente"
    },
    {
        "id": "5c085ccb6c284bf7",
        "type": "inject",
        "z": "aa0e170c91379e2f",
        "name": "",
        "props": [
            {
                "p": "to",
                "v": "breno.hoc3@gmail.com",
                "vt": "str"
            },
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "teste nodered",
        "payload": "vamos ver",
        "payloadType": "str",
        "x": 230,
        "y": 80,
        "wires": [
            [
                "67c72f5a3755b7ed"
            ]
        ]
    },
    {
        "id": "970fb47421d56991",
        "type": "ui_gauge",
        "z": "aa0e170c91379e2f",
        "name": "",
        "group": "9b81770e912bf6fa",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Nível",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 350,
        "y": 360,
        "wires": []
    },
    {
        "id": "3a819f398ae87aaf",
        "type": "ui_slider",
        "z": "aa0e170c91379e2f",
        "name": "",
        "label": "nível",
        "tooltip": "",
        "group": "be1439f3a0ba43d1",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "50",
        "step": 1,
        "className": "",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "970fb47421d56991",
                "f8fff8a462b6df40",
                "f92491bb199ac54f"
            ]
        ]
    },
    {
        "id": "f8fff8a462b6df40",
        "type": "ui_chart",
        "z": "aa0e170c91379e2f",
        "name": "",
        "group": "9b81770e912bf6fa",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 370,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "f92491bb199ac54f",
        "type": "change",
        "z": "aa0e170c91379e2f",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "43",
                "fromt": "num",
                "to": "Temperatura Elevada",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "50",
                "fromt": "num",
                "to": "Temperatura Máxima",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "12",
                "fromt": "num",
                "to": "Risco de temperatura baixa",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 540,
        "wires": [
            [
                "5ba06c7877799380"
            ]
        ]
    },
    {
        "id": "a65aac2dcbfdc7d2",
        "type": "ui_toast",
        "z": "aa0e170c91379e2f",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 770,
        "y": 600,
        "wires": []
    },
    {
        "id": "5ba06c7877799380",
        "type": "switch",
        "z": "aa0e170c91379e2f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "50",
                "v2t": "num"
            },
            {
                "t": "neq",
                "v": "!",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 540,
        "wires": [
            [],
            [
                "a65aac2dcbfdc7d2"
            ]
        ]
    },
    {
        "id": "b60458e56dbabd36",
        "type": "debug",
        "z": "8c761bcddb6e0b85",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 200,
        "wires": []
    },
    {
        "id": "1aa635ca051d2e8f",
        "type": "ui_form",
        "z": "8c761bcddb6e0b85",
        "name": "",
        "label": "Criar login",
        "group": "b77ad3d3025c33ce",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Nome",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "e-mail",
                "value": "email",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "senha",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "email": "",
            "password": ""
        },
        "payload": "",
        "submit": "Criar usuário",
        "cancel": "Cancelar",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 330,
        "y": 120,
        "wires": [
            [
                "539e6237d2a1eacd"
            ]
        ]
    },
    {
        "id": "539e6237d2a1eacd",
        "type": "function",
        "z": "8c761bcddb6e0b85",
        "name": "gera hash",
        "func": "const bcrypt = global.get('bcrypt');\nconst uuidv4 = global.get('uuid');\n\nconst formatted = moment(new Date()).format(\"YYYY-MM-DD HH:mm:ss\");\n\nasync function gerarHashSenha(senha) {\n  return await bcrypt.hash(senha, 10)\n    .then(hash => hash)\n    .catch(err => {\n      throw err;\n    });\n}\n\nlet senhaEncriptografada = null;\n\nconsole.log(msg.payload.password);\n\nif(msg.payload.password) {\n  senhaEncriptografada = await gerarHashSenha(msg.payload.password)\n    .then(hash => hash)\n    .catch(err => console.log(err));\n}\n\n\nmsg.payload = {\n    id: uuidv4.v4(),\n    nome: msg.payload.username,\n    email: msg.payload.email,\n    password: senhaEncriptografada,\n    data_criacao: formatted,\n    data_atualizacao: formatted\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "moment",
                "module": "moment"
            }
        ],
        "x": 520,
        "y": 180,
        "wires": [
            [
                "b9db7e3b541cb6fb"
            ]
        ],
        "info": "## Gera hash antes de persistir os do usuário"
    },
    {
        "id": "49ca71d5d633e0db",
        "type": "inject",
        "z": "8c761bcddb6e0b85",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 180,
        "wires": [
            [
                "539e6237d2a1eacd"
            ]
        ]
    },
    {
        "id": "b9db7e3b541cb6fb",
        "type": "http request",
        "z": "8c761bcddb6e0b85",
        "name": "Salvar Dados Usuário",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://sheet.best/api/sheets/d26d408e-e6c9-4680-9088-f3208045b59f",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 700,
        "y": 120,
        "wires": [
            [
                "b60458e56dbabd36"
            ]
        ]
    },
    {
        "id": "b3dd0e3bb6f1175d",
        "type": "ui_form",
        "z": "8c761bcddb6e0b85",
        "name": "",
        "label": "Logar",
        "group": "a6d03c119ba764d7",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "E-mail",
                "value": "email",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Senha",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "email": "",
            "password": ""
        },
        "payload": "",
        "submit": "Entrar",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 90,
        "y": 680,
        "wires": [
            [
                "3b61f912a0d768c3"
            ]
        ]
    },
    {
        "id": "db0c71139f912f09",
        "type": "ui_template",
        "z": "8c761bcddb6e0b85",
        "group": "b77ad3d3025c33ce",
        "name": "Já possui cadastro?",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<div>\n    <a ng-click=\"send({payload: {login: true}})\">\n        Já possui cadastro?\n    </a>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 260,
        "y": 440,
        "wires": [
            [
                "2c6cab8a13ce9c94"
            ]
        ]
    },
    {
        "id": "d6b8783744e1667e",
        "type": "http request",
        "z": "8c761bcddb6e0b85",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://sheet.best/api/sheets/d26d408e-e6c9-4680-9088-f3208045b59f/email/{{{payload.email}}}?_limit=1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 460,
        "y": 680,
        "wires": [
            [
                "b397302016ddb6f1"
            ]
        ]
    },
    {
        "id": "b397302016ddb6f1",
        "type": "function",
        "z": "8c761bcddb6e0b85",
        "name": "Compare hash",
        "func": "const bcrypt = global.get('bcrypt');\nconst uuidv4 = global.get('uuid');\n\nconst senha = flow.get('password');\nconst senhaHash = msg.payload[0].password;\n\nasync function comparaSenhaComHash(senha, senhaHash) {\n  return await bcrypt.compare(senha, senhaHash)\n    .then(result => result)\n    .catch(err => {\n      throw err;\n    });\n}\n\nconst senhaComparada = await comparaSenhaComHash(senha, senhaHash)\n  .then(hash => hash)\n  .catch(err => console.log(err));\n\nmsg.payload = senhaComparada;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 760,
        "wires": [
            [
                "3468694d424c696b"
            ]
        ],
        "info": "## Compara senha do usuário com a cadastrada"
    },
    {
        "id": "3b61f912a0d768c3",
        "type": "change",
        "z": "8c761bcddb6e0b85",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "password",
                "pt": "flow",
                "to": "payload.password",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 760,
        "wires": [
            [
                "d6b8783744e1667e"
            ]
        ]
    },
    {
        "id": "3468694d424c696b",
        "type": "debug",
        "z": "8c761bcddb6e0b85",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 680,
        "wires": []
    },
    {
        "id": "51fab00dd20f6a0a",
        "type": "comment",
        "z": "8c761bcddb6e0b85",
        "name": "",
        "info": "Fluxo para comparar se a senha do usuário ao logar é a mesma da cadastrada",
        "x": 490,
        "y": 640,
        "wires": []
    },
    {
        "id": "550a2a50d314e659",
        "type": "comment",
        "z": "8c761bcddb6e0b85",
        "name": "",
        "info": "Fluxo para cadastrar usuário",
        "x": 490,
        "y": 40,
        "wires": []
    },
    {
        "id": "b72b13fd29e6c9a3",
        "type": "ui_ui_control",
        "z": "8c761bcddb6e0b85",
        "name": "",
        "events": "all",
        "x": 740,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "2c6cab8a13ce9c94",
        "type": "change",
        "z": "8c761bcddb6e0b85",
        "name": "Carregar pag Login",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "login",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 440,
        "wires": [
            [
                "b72b13fd29e6c9a3"
            ]
        ]
    },
    {
        "id": "ec0d9e79045ac233",
        "type": "ui_template",
        "z": "8c761bcddb6e0b85",
        "group": "a6d03c119ba764d7",
        "name": "Criar cadastro?",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<div>\n    <a ng-click=\"send({payload: {criarLogin: true}})\">\n        Criar cadastro\n    </a>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 240,
        "y": 520,
        "wires": [
            [
                "a98292bc7dd4bef1"
            ]
        ]
    },
    {
        "id": "a98292bc7dd4bef1",
        "type": "change",
        "z": "8c761bcddb6e0b85",
        "name": "Carregar pag Criar Login",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Criar login",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 520,
        "wires": [
            [
                "b72b13fd29e6c9a3"
            ]
        ]
    },
    {
        "id": "fc7069d8b435ca6c",
        "type": "comment",
        "z": "8c761bcddb6e0b85",
        "name": "",
        "info": "Transições entre as telas",
        "x": 490,
        "y": 380,
        "wires": []
    }
]