flows.json
[
    {
        "id": "6b29906ef4dc7d50",
        "type": "tab",
        "label": "Controle de acesso",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8c761bcddb6e0b85",
        "type": "tab",
        "label": "Fluxo de login",
        "disabled": false,
        "info": "Neste consta os fluxos de cadastro e login do usuário",
        "env": []
    },
    {
        "id": "02b422f247f3967a",
        "type": "tab",
        "label": "Fluxo criar conta",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "aa0e170c91379e2f",
        "type": "tab",
        "label": "Fluxo de Seleção de Filmes",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fad77afd5310f66e",
        "type": "tab",
        "label": "Testes",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c4bb2b1dcfa16364",
        "type": "tab",
        "label": "css",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ddef06d8d0048305",
        "type": "global-config",
        "name": "global-config",
        "env": []
    },
    {
        "id": "efbcd60e6a02a05e",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Sua Plataforma de gerenciamento de filmes",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "8a77e8fa5a34a8c0",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "be1439f3a0ba43d1",
        "type": "ui_group",
        "name": "Seleção de filmes",
        "tab": "8a77e8fa5a34a8c0",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9b81770e912bf6fa",
        "type": "ui_group",
        "name": "Dados do filme",
        "tab": "8a77e8fa5a34a8c0",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b77ad3d3025c33ce",
        "type": "ui_group",
        "name": "Criar login",
        "tab": "fad7740d4433ba8a",
        "order": 1,
        "disp": false,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a6d03c119ba764d7",
        "type": "ui_group",
        "name": "login",
        "tab": "a1189548f1bad27e",
        "order": 2,
        "disp": false,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1d0da4a58b5848a4",
        "type": "ui_group",
        "name": "Transição",
        "tab": "8a77e8fa5a34a8c0",
        "order": 3,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "96e76148eab11ebb",
        "type": "ui_group",
        "name": "Transição",
        "tab": "fad7740d4433ba8a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "639665f5f0a31743",
        "type": "ui_group",
        "name": "Sinopse",
        "tab": "8a77e8fa5a34a8c0",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a1189548f1bad27e",
        "type": "ui_tab",
        "name": "login",
        "icon": "login",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fad7740d4433ba8a",
        "type": "ui_tab",
        "name": "Criar login",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "efcb5eb165066761",
        "type": "change",
        "z": "6b29906ef4dc7d50",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "login",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 180,
        "wires": [
            [
                "29ee9d0f4766811d"
            ]
        ]
    },
    {
        "id": "29ee9d0f4766811d",
        "type": "ui_ui_control",
        "z": "6b29906ef4dc7d50",
        "name": "",
        "events": "all",
        "x": 720,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "04a6c249884cfcd8",
        "type": "ui_ui_control",
        "z": "6b29906ef4dc7d50",
        "name": "",
        "events": "all",
        "x": 240,
        "y": 240,
        "wires": [
            [
                "93ea49e3906aef6f"
            ]
        ]
    },
    {
        "id": "93ea49e3906aef6f",
        "type": "switch",
        "z": "6b29906ef4dc7d50",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "connect",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 390,
        "y": 240,
        "wires": [
            [
                "efcb5eb165066761",
                "f888769703c41b08"
            ]
        ]
    },
    {
        "id": "40738e64a2781ecb",
        "type": "comment",
        "z": "6b29906ef4dc7d50",
        "name": "Somente Mostrar a tela de Login",
        "info": "",
        "x": 290,
        "y": 120,
        "wires": []
    },
    {
        "id": "f888769703c41b08",
        "type": "template",
        "z": "6b29906ef4dc7d50",
        "name": "Esconder Telas",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\"tabs\":\n    {\n    \"hide\":[ \"Home\",\"Criar login\"]\n    }\n}",
        "output": "json",
        "x": 540,
        "y": 320,
        "wires": [
            [
                "29ee9d0f4766811d"
            ]
        ]
    },
    {
        "id": "5bdeada89c992a6e",
        "type": "ui_template",
        "z": "6b29906ef4dc7d50",
        "group": "b77ad3d3025c33ce",
        "name": "Já possui cadastro?",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div>\n    <button class=\"w md-raised nr-dashboard-form-button md-button md-ink-ripple\"\n    ng-click=\"send({payload: {login: true}})\">\n        Já possui cadastro?\n    </button>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "ml",
        "x": 280,
        "y": 520,
        "wires": [
            [
                "5164afc66fbb16c1"
            ]
        ]
    },
    {
        "id": "5e53c0c8b3916e29",
        "type": "ui_ui_control",
        "z": "6b29906ef4dc7d50",
        "name": "",
        "events": "all",
        "x": 880,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "5164afc66fbb16c1",
        "type": "change",
        "z": "6b29906ef4dc7d50",
        "name": "Carregar pag Login",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "login",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 520,
        "wires": [
            [
                "5e53c0c8b3916e29"
            ]
        ]
    },
    {
        "id": "fbc064af4d88cdc8",
        "type": "ui_template",
        "z": "6b29906ef4dc7d50",
        "group": "a6d03c119ba764d7",
        "name": "Criar cadastro?",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<div>\n    <button class=\"w md-raised nr-dashboard-form-button md-button md-ink-ripple\"\n    ng-click=\"send({payload: {criarLogin: true}})\">\n        Criar cadastro\n    </button>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 260,
        "y": 580,
        "wires": [
            [
                "984ecde84ac3e4df"
            ]
        ]
    },
    {
        "id": "984ecde84ac3e4df",
        "type": "change",
        "z": "6b29906ef4dc7d50",
        "name": "Carregar pag Criar Login",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Criar login",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 580,
        "wires": [
            [
                "5e53c0c8b3916e29"
            ]
        ]
    },
    {
        "id": "567547303b2c033f",
        "type": "comment",
        "z": "6b29906ef4dc7d50",
        "name": "Transições entre as telas",
        "info": "",
        "x": 450,
        "y": 460,
        "wires": []
    },
    {
        "id": "324524181a15e119",
        "type": "comment",
        "z": "8c761bcddb6e0b85",
        "name": "Fluxo para autenticar usuário",
        "info": "",
        "x": 220,
        "y": 140,
        "wires": []
    },
    {
        "id": "2b7ab510f46b9d71",
        "type": "change",
        "z": "8c761bcddb6e0b85",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "login",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 320,
        "wires": [
            [
                "1904e15642bcef63"
            ]
        ]
    },
    {
        "id": "0a52e0b14d1f6a5b",
        "type": "switch",
        "z": "8c761bcddb6e0b85",
        "name": "",
        "property": "Banco.user",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "login.user",
                "vt": "msg"
            },
            {
                "t": "neq",
                "v": "login.user",
                "vt": "msg"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 990,
        "y": 200,
        "wires": [
            [
                "c8e026acbce29c79"
            ],
            []
        ]
    },
    {
        "id": "c8e026acbce29c79",
        "type": "change",
        "z": "8c761bcddb6e0b85",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Banco.status.user",
                "pt": "msg",
                "to": "user Correto",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 140,
        "wires": [
            [
                "e88977c50e0a4b9d"
            ]
        ]
    },
    {
        "id": "e88977c50e0a4b9d",
        "type": "switch",
        "z": "8c761bcddb6e0b85",
        "name": "",
        "property": "login.password",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Banco.password",
                "vt": "msg"
            },
            {
                "t": "neq",
                "v": "Banco.password",
                "vt": "msg"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1410,
        "y": 200,
        "wires": [
            [
                "321790a492e60fd9"
            ],
            [
                "84d05e407e08a8e1"
            ]
        ]
    },
    {
        "id": "321790a492e60fd9",
        "type": "change",
        "z": "8c761bcddb6e0b85",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Banco.status.pass",
                "pt": "msg",
                "to": "Senha correta",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1600,
        "y": 100,
        "wires": [
            [
                "9a56c12b8c0ce901"
            ]
        ]
    },
    {
        "id": "1904e15642bcef63",
        "type": "http request",
        "z": "8c761bcddb6e0b85",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://qazlfsxxnbvcupqtqqxf.supabase.co/rest/v1/ctj_autorizacao?select=*",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "apikey",
                "valueType": "other",
                "valueValue": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFhemxmc3h4bmJ2Y3VwcXRxcXhmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTY5Njg2MDU1MywiZXhwIjoyMDEyNDM2NTUzfQ.g-AmyyofnSMuew141w9ZM_TgpX23-tAKctFPOuoameI"
            }
        ],
        "x": 390,
        "y": 240,
        "wires": [
            [
                "75c107826c766b5c"
            ]
        ]
    },
    {
        "id": "75c107826c766b5c",
        "type": "split",
        "z": "8c761bcddb6e0b85",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 530,
        "y": 320,
        "wires": [
            [
                "e26d38cfb94708ed"
            ]
        ]
    },
    {
        "id": "e26d38cfb94708ed",
        "type": "switch",
        "z": "8c761bcddb6e0b85",
        "name": "",
        "property": "payload.user",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "login.user",
                "vt": "msg"
            },
            {
                "t": "neq",
                "v": "login.user",
                "vt": "msg"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 650,
        "y": 240,
        "wires": [
            [
                "8cd06f2aed5da80e"
            ],
            []
        ]
    },
    {
        "id": "8cd06f2aed5da80e",
        "type": "change",
        "z": "8c761bcddb6e0b85",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "Banco",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 200,
        "wires": [
            [
                "0a52e0b14d1f6a5b"
            ]
        ]
    },
    {
        "id": "6c40ddeec7ec6f07",
        "type": "ui_toast",
        "z": "8c761bcddb6e0b85",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1810,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "84d05e407e08a8e1",
        "type": "change",
        "z": "8c761bcddb6e0b85",
        "name": "Msg Login Inválido",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Login e/ou Senha Invalidos, verifique as informações e tente novamente",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1570,
        "y": 280,
        "wires": [
            [
                "6c40ddeec7ec6f07"
            ]
        ]
    },
    {
        "id": "47a9352c499b571d",
        "type": "template",
        "z": "8c761bcddb6e0b85",
        "name": "Mostar Home",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\"tabs\":\n    {\n    \"show\":[\"Home\"],\n    \"hide\": [\"Login\",\"Criar login\"]\n    }\n}",
        "output": "json",
        "x": 2420,
        "y": 180,
        "wires": [
            [
                "adb86ca7e9232573"
            ]
        ]
    },
    {
        "id": "0577d555947c15e1",
        "type": "change",
        "z": "8c761bcddb6e0b85",
        "name": "Carregar pag Home",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Home",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2180,
        "y": 100,
        "wires": [
            [
                "47a9352c499b571d",
                "adb86ca7e9232573"
            ]
        ]
    },
    {
        "id": "adb86ca7e9232573",
        "type": "ui_ui_control",
        "z": "8c761bcddb6e0b85",
        "name": "",
        "events": "all",
        "x": 2600,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "2a35c8975377b3ee",
        "type": "ui_toast",
        "z": "8c761bcddb6e0b85",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 2080,
        "y": 180,
        "wires": []
    },
    {
        "id": "9a56c12b8c0ce901",
        "type": "change",
        "z": "8c761bcddb6e0b85",
        "name": "Acesso concluido",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Acesso Liberado",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1870,
        "y": 100,
        "wires": [
            [
                "0577d555947c15e1",
                "2a35c8975377b3ee"
            ]
        ]
    },
    {
        "id": "efb8d10c5fe2da87",
        "type": "ui_form",
        "z": "8c761bcddb6e0b85",
        "name": "",
        "label": "Login",
        "group": "a6d03c119ba764d7",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "E-mail",
                "value": "user",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Senha",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "user": "",
            "password": ""
        },
        "payload": "",
        "submit": "Entrar",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 70,
        "y": 240,
        "wires": [
            [
                "2b7ab510f46b9d71"
            ]
        ]
    },
    {
        "id": "d754ee9424ade1d8",
        "type": "ui_form",
        "z": "02b422f247f3967a",
        "name": "",
        "label": "Criar login",
        "group": "b77ad3d3025c33ce",
        "order": 1,
        "width": 10,
        "height": 3,
        "options": [
            {
                "label": "E-mail",
                "value": "email",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Senha",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "email": "",
            "password": ""
        },
        "payload": "",
        "submit": "Criar usuário",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "x": 110,
        "y": 560,
        "wires": [
            [
                "0b664baeffbd5ed8"
            ]
        ]
    },
    {
        "id": "26fe57443dec4377",
        "type": "function",
        "z": "02b422f247f3967a",
        "name": "gera hash",
        "func": "const bcrypt = global.get('bcrypt');\nconst uuidv4 = global.get('uuid');\n\nconst formatted = moment(new Date()).format(\"YYYY-MM-DD HH:mm:ss\");\n\nasync function gerarHashSenha(senha) {\n  return await bcrypt.hash(senha, 10)\n    .then(hash => hash)\n    .catch(err => {\n      throw err;\n    });\n}\n\nlet senhaEncriptografada = null;\n\nconsole.log(msg.payload.password);\n\nif(msg.payload.password) {\n  senhaEncriptografada = await gerarHashSenha(msg.payload.password)\n    .then(hash => hash)\n    .catch(err => console.log(err));\n}\n\n\nmsg.payload = {\n    id: uuidv4.v4(),\n    nome: msg.payload.username,\n    email: msg.payload.email,\n    password: senhaEncriptografada,\n    data_criacao: formatted,\n    data_atualizacao: formatted\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "moment",
                "module": "moment"
            }
        ],
        "x": 880,
        "y": 160,
        "wires": [
            [
                "114be1469e52c7db",
                "158f028da05f328f"
            ]
        ],
        "info": "## Gera hash antes de persistir os do usuário"
    },
    {
        "id": "158f028da05f328f",
        "type": "http request",
        "z": "02b422f247f3967a",
        "name": "Salvar Dados Usuário",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://sheet.best/api/sheets/d26d408e-e6c9-4680-9088-f3208045b59f",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1140,
        "y": 120,
        "wires": [
            [
                "b882d3ac5253591a"
            ]
        ]
    },
    {
        "id": "ecfe50028b879a49",
        "type": "comment",
        "z": "02b422f247f3967a",
        "name": "Fluxo para cadastrar usuário",
        "info": "",
        "x": 320,
        "y": 480,
        "wires": []
    },
    {
        "id": "cfb265959f464199",
        "type": "e-mail",
        "z": "02b422f247f3967a",
        "server": "smtp-mail.outlook.com",
        "port": "587",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": false,
        "tls": true,
        "name": "",
        "dname": "envio de email",
        "x": 1360,
        "y": 180,
        "wires": [],
        "info": "As configurações precisam estar nas variáveis de amviente"
    },
    {
        "id": "114be1469e52c7db",
        "type": "function",
        "z": "02b422f247f3967a",
        "name": "Conteudo E-mail",
        "func": "\nmsg.to = msg.payload.email\nmsg.from =\"GrupoPFiap@outlook.com\"\nmsg.topic =\"Usuario criado com Sucesso\"\nmsg.payload=`Caro ${msg.payload.nome},\\n Seu usuario foi criado com sucesso no projeto do Grupo P \\n Obrigado por Participar`\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Login: GrupoPFiap@outlook.com\n// Senha: GrupoP1234\n",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 180,
        "wires": [
            [
                "cfb265959f464199"
            ]
        ]
    },
    {
        "id": "cc7ce1025615965e",
        "type": "function",
        "z": "02b422f247f3967a",
        "name": "Valida E-mail",
        "func": "\nfunction verificaEmail(email) {\n  var re = /^[\\w+.]+@\\w+\\.\\w{2,}(?:\\.\\w{2})?$/;\n\n  if(re.test(email)){\n\n msg.payload.validacao = \"válido\";\n\n  }else{\n\n    msg.payload.validacao = \"inválido\";\n    \n  }\n}\n\nverificaEmail(msg.payload.email);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "\n//O nome do usuário (antes do arroba), pode ser qualquer caractere alfanumérico, incluindo o underscore, sinal de \"+\" e o ponto\n//Após o arroba, o domínio pode conter somente caracteres alfanuméricos e o underscore;\n//Para a extensão, o domínio deve vir seguido de um ponto, e no mínimo 2 caracteres alfanuméricos;\n//O final do domínio é opcional, mas se existir, deve começar com um ponto, seguido de no máximo 2 caracteres alfanuméricos",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 260,
        "wires": [
            [
                "300836f1995b7dcb"
            ]
        ]
    },
    {
        "id": "300836f1995b7dcb",
        "type": "switch",
        "z": "02b422f247f3967a",
        "name": "",
        "property": "payload.validacao",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "válido",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "inválido",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 260,
        "wires": [
            [
                "d46de286c3b38d09"
            ],
            [
                "8afebf2d9c550ca5"
            ]
        ]
    },
    {
        "id": "f1bf1e5d01e74e87",
        "type": "ui_toast",
        "z": "02b422f247f3967a",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "E-mail Inválido",
        "name": "Alerta Email inválido",
        "x": 880,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "8afebf2d9c550ca5",
        "type": "change",
        "z": "02b422f247f3967a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Verifique as informações e digite novamente ",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 300,
        "wires": [
            [
                "f1bf1e5d01e74e87"
            ]
        ]
    },
    {
        "id": "d46de286c3b38d09",
        "type": "function",
        "z": "02b422f247f3967a",
        "name": "Valida Senha",
        "func": "\nfunction verificaSenha(senha){\n    if (senha.length < 4){\n        \n    msg.payload.validaSenha = \"inválida\"\n    }\n    else{\n    msg.payload.validaSenha = \"válida\"\n    }\n}\n\n\nverificaSenha(msg.payload.password);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 140,
        "wires": [
            [
                "54e82cf954a9046a"
            ]
        ]
    },
    {
        "id": "54e82cf954a9046a",
        "type": "switch",
        "z": "02b422f247f3967a",
        "name": "",
        "property": "payload.validaSenha",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "válida",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "inválida",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 200,
        "wires": [
            [
                "26fe57443dec4377"
            ],
            [
                "abd15add25c276d0"
            ]
        ]
    },
    {
        "id": "abd15add25c276d0",
        "type": "change",
        "z": "02b422f247f3967a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "A senha deve conter no minimo 4 Caracteres",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 240,
        "wires": [
            [
                "cc95cf5a35d3be27"
            ]
        ]
    },
    {
        "id": "cc95cf5a35d3be27",
        "type": "ui_toast",
        "z": "02b422f247f3967a",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "Senha Inválida",
        "name": "Alerta Senha inválida",
        "x": 1140,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "899da6f33ee719f1",
        "type": "ui_ui_control",
        "z": "02b422f247f3967a",
        "name": "",
        "events": "all",
        "x": 1920,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "b882d3ac5253591a",
        "type": "change",
        "z": "02b422f247f3967a",
        "name": "Login Criado",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Home",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1430,
        "y": 120,
        "wires": [
            [
                "5c27195add445ef7",
                "899da6f33ee719f1",
                "25df3f05e499ea4c"
            ]
        ]
    },
    {
        "id": "5c27195add445ef7",
        "type": "ui_toast",
        "z": "02b422f247f3967a",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "Usuario criado com sucesso.",
        "name": "Usuario criado",
        "x": 1740,
        "y": 180,
        "wires": []
    },
    {
        "id": "25df3f05e499ea4c",
        "type": "template",
        "z": "02b422f247f3967a",
        "name": "Mostar Home",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\"tabs\":\n    {\n    \"show\":[\"Home\"],\n    \"hide\": [\"Login\",\"Criar login\"]\n    }\n}",
        "output": "json",
        "x": 1720,
        "y": 60,
        "wires": [
            [
                "899da6f33ee719f1"
            ]
        ]
    },
    {
        "id": "5e27947a49e9a8da",
        "type": "http request",
        "z": "02b422f247f3967a",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "body",
        "url": "https://qazlfsxxnbvcupqtqqxf.supabase.co/rest/v1/ctj_autorizacao?user=eq.{{login.email}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "apikey",
                "valueType": "other",
                "valueValue": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFhemxmc3h4bmJ2Y3VwcXRxcXhmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTY5Njg2MDU1MywiZXhwIjoyMDEyNDM2NTUzfQ.g-AmyyofnSMuew141w9ZM_TgpX23-tAKctFPOuoameI"
            }
        ],
        "x": 410,
        "y": 560,
        "wires": [
            [
                "88cc0c5ff465f887"
            ]
        ]
    },
    {
        "id": "0b664baeffbd5ed8",
        "type": "change",
        "z": "02b422f247f3967a",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "login",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 620,
        "wires": [
            [
                "5e27947a49e9a8da"
            ]
        ]
    },
    {
        "id": "c2b85051b441d108",
        "type": "ui_toast",
        "z": "02b422f247f3967a",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 990,
        "y": 720,
        "wires": [
            [
                "31db82f0e79d2b77"
            ]
        ]
    },
    {
        "id": "741a63e7250592ac",
        "type": "change",
        "z": "02b422f247f3967a",
        "name": "Msg Login Inválido",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Email já cadastrado, por favor verifique seus dados",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 720,
        "wires": [
            [
                "c2b85051b441d108"
            ]
        ]
    },
    {
        "id": "88cc0c5ff465f887",
        "type": "switch",
        "z": "02b422f247f3967a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 560,
        "wires": [
            [
                "557c932d702ac102"
            ],
            [
                "741a63e7250592ac"
            ]
        ]
    },
    {
        "id": "31db82f0e79d2b77",
        "type": "change",
        "z": "02b422f247f3967a",
        "name": "Login já existe",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "login",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 720,
        "wires": [
            [
                "38996b02bb2ce393"
            ]
        ]
    },
    {
        "id": "38996b02bb2ce393",
        "type": "ui_ui_control",
        "z": "02b422f247f3967a",
        "name": "",
        "events": "all",
        "x": 1400,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "5e2f9a83a34eedba",
        "type": "http request",
        "z": "02b422f247f3967a",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "https://qazlfsxxnbvcupqtqqxf.supabase.co/rest/v1/ctj_autorizacao?user=eq.{{login.email}}&password=eq.{{login.password}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "apikey",
                "valueType": "other",
                "valueValue": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFhemxmc3h4bmJ2Y3VwcXRxcXhmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTY5Njg2MDU1MywiZXhwIjoyMDEyNDM2NTUzfQ.g-AmyyofnSMuew141w9ZM_TgpX23-tAKctFPOuoameI"
            },
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/x-www-form-urlencoded"
            },
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "other",
                "valueValue": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFhemxmc3h4bmJ2Y3VwcXRxcXhmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTY5Njg2MDU1MywiZXhwIjoyMDEyNDM2NTUzfQ.g-AmyyofnSMuew141w9ZM_TgpX23-tAKctFPOuoameI"
            }
        ],
        "x": 1030,
        "y": 460,
        "wires": [
            [
                "69f48a31987ed7b9"
            ]
        ]
    },
    {
        "id": "557c932d702ac102",
        "type": "template",
        "z": "02b422f247f3967a",
        "name": "",
        "field": "header",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"user\": \"{{login.email}}\",\n    \"password\": \"{{login.password}}\"\n}",
        "output": "json",
        "x": 660,
        "y": 460,
        "wires": [
            [
                "48f9eb98d75da64e"
            ]
        ]
    },
    {
        "id": "48f9eb98d75da64e",
        "type": "function",
        "z": "02b422f247f3967a",
        "name": "function 2",
        "func": "msg.payload=msg.header;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 460,
        "wires": [
            [
                "5e2f9a83a34eedba"
            ]
        ]
    },
    {
        "id": "c876866046901397",
        "type": "template",
        "z": "02b422f247f3967a",
        "name": "Mostar Home",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\"tabs\":\n    {\n    \"show\":[\"Home\"],\n    \"hide\": [\"Login\",\"Criar login\"]\n    }\n}",
        "output": "json",
        "x": 1940,
        "y": 380,
        "wires": [
            [
                "2f6364535052384b"
            ]
        ]
    },
    {
        "id": "b2e19b4431c72bda",
        "type": "change",
        "z": "02b422f247f3967a",
        "name": "Carregar pag Home",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Home",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 460,
        "wires": [
            [
                "c876866046901397",
                "2f6364535052384b"
            ]
        ]
    },
    {
        "id": "2f6364535052384b",
        "type": "ui_ui_control",
        "z": "02b422f247f3967a",
        "name": "",
        "events": "all",
        "x": 2140,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "7793d65cc90a39c4",
        "type": "ui_toast",
        "z": "02b422f247f3967a",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1590,
        "y": 380,
        "wires": []
    },
    {
        "id": "1e6b9ad430224d84",
        "type": "change",
        "z": "02b422f247f3967a",
        "name": "Acesso concluido",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Usuario cadastrado",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1390,
        "y": 460,
        "wires": [
            [
                "b2e19b4431c72bda",
                "7793d65cc90a39c4"
            ]
        ]
    },
    {
        "id": "69f48a31987ed7b9",
        "type": "change",
        "z": "02b422f247f3967a",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "Banco",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 380,
        "wires": [
            [
                "1e6b9ad430224d84"
            ]
        ]
    },
    {
        "id": "25798034eb2fa2d3",
        "type": "e-mail",
        "z": "02b422f247f3967a",
        "server": "smtp-mail.outlook.com",
        "port": "587",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": false,
        "tls": true,
        "name": "",
        "dname": "envio de email",
        "x": 1080,
        "y": 560,
        "wires": [],
        "info": "As configurações precisam estar nas variáveis de amviente"
    },
    {
        "id": "c8ac5797f4aa7210",
        "type": "function",
        "z": "02b422f247f3967a",
        "name": "Conteudo E-mail",
        "func": "\nmsg.to = msg.login.email\n//msg.to = 'grupoj_fiapC1TJ@tuamaeaquelaursa.com'\nmsg.from =\"GrupoPFiap@outlook.com\"\nmsg.topic =\"Usuario criado com Sucesso\"\nmsg.payload=\"Caro, \\n Seu usuario foi criado com sucesso no projeto do Grupo P \\n Obrigado por Participar\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Login: GrupoPFiap@outlook.com\n// Senha: GrupoP1234\n",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 560,
        "wires": [
            [
                "25798034eb2fa2d3"
            ]
        ]
    },
    {
        "id": "c84d8b9892e7d26a",
        "type": "http in",
        "z": "aa0e170c91379e2f",
        "name": "teste",
        "url": "/companies/persons/dewqedwq33-sadsdsgfdhbf-dsadwedfsad-dsadsadas/rooms/new",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 820,
        "wires": [
            [
                "592792d996c1f40e"
            ]
        ]
    },
    {
        "id": "592792d996c1f40e",
        "type": "template",
        "z": "aa0e170c91379e2f",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "[\n    {\n        \"companyId\": 1,\n        \"name\": \"Nicolas das Laranjeiras\",\n        \"officialName\": \"Nicolas das Laranjeiras\",\n        \"documentNumber\": \"87725353000137\",\n        \"phone\": \"33589623\",\n        \"site\": \"\",\n        \"facebook\": \"\",\n        \"linkedin\": \"\",\n        \"email\": \"\",\n        \"description\": \"\",\n        \"logo\": \"https://cdn.superlogica.com/clients/areadocondomino/publico/logo?filename=estagioportaria&idCondominio=11&date=08/30/2023\",\n        \"isActive\": true,\n        \"address\": [\n            {\n                \"street\": \"Rua Joaquim\",\n                \"number\": \"\",\n                \"additionalInformation\": null,\n                \"district\": \"CKP\",\n                \"city\": \"Limeira\",\n                \"state\": \"SP\",\n                \"zipCode\": null,\n                \"main\": \"Rua Joaquim\",\n                \"addressType\": \"\",\n                \"country\": \"Brasil\"\n            }\n        ],\n        \"creationDate\": \"2023-02-24T20:11:50Z\",\n        \"updateDate\": \"2023-08-30T12:27:33Z\",\n        \"deleteDate\": null,\n        \"companyPlugins\": [\n            {\n                \"pluginId\": 10,\n                \"companyId\": 4406,\n                \"params\": {\n                    \"base_url\": \"https://staging.first.superlogica.com/api/v3\",\n                    \"company_type\": {\n                        \"gender\": \"M\",\n                        \"friendly_name\": \"Nicolas das Laranjeiras\"\n                    },\n                    \"idCondominio\": 255,\n                    \"nomeCondominio\": \"Nicolas das Laranjeiras\",\n                    \"plugin_room_logo\": \"https://s3.amazonaws.com/spaces-core-files-production/c1b0b40878e51d776f0e1fe5c31073a63f26c286bddc7974edc67ae180870482/ca550b4744fe1f8f67712844c1b58203e9a6aee0072d753446030e4ee4fcad5b\",\n                    \"plugin_room_name\": \"Portaria\",\n                    \"plugin_person_logo\": \"https://s3.amazonaws.com/spaces-core-files-production/c1b0b40878e51d776f0e1fe5c31073a63f26c286bddc7974edc67ae180870482/ca550b4744fe1f8f67712844c1b58203e9a6aee0072d753446030e4ee4fcad5b\",\n                    \"plugin_person_name\": \"Porteiro\"\n                },\n                \"creationDate\": \"2023-03-23T19:10:50Z\",\n                \"updateDate\": \"2023-03-23T19:10:50Z\",\n                \"externalId\": null,\n                \"plugin\": {\n                    \"pluginId\": 10,\n                    \"name\": \"fastpass\",\n                    \"description\": \"Plugin do fastpass\",\n                    \"installable\": true,\n                    \"uninstallable\": true,\n                    \"params\": {\n                        \"friendly_name\": \"Controle de Acesso\",\n                        \"module_name\": \"fastpassV2\",\n                        \"access\": {\n                            \"client_id\": \"client_id\",\n                            \"client_secret\": \"client_secret\"\n                        },\n                        \"module_version\": \"2.0\",\n                        \"company_schema\": {\n                            \"idCondominio\": 0,\n                            \"nomeCondominio\": \"\",\n                            \"plugin_room_logo\": \"https://s3.amazonaws.com/spaces-core-files-production/c1b0b40878e51d776f0e1fe5c31073a63f26c286bddc7974edc67ae180870482/ca550b4744fe1f8f67712844c1b58203e9a6aee0072d753446030e4ee4fcad5b\",\n                            \"plugin_room_name\": \"Portaria\",\n                            \"plugin_person_logo\": \"https://s3.amazonaws.com/spaces-core-files-production/c1b0b40878e51d776f0e1fe5c31073a63f26c286bddc7974edc67ae180870482/ca550b4744fe1f8f67712844c1b58203e9a6aee0072d753446030e4ee4fcad5b\",\n                            \"plugin_person_name\": \"Porteiro\"\n                        },\n                        \"person_schema\": null\n                    },\n                    \"creationDate\": \"2021-09-13T10:00:00Z\",\n                    \"updateDate\": \"2021-09-13T10:00:05Z\",\n                    \"pluginDependency\": null\n                }\n            }\n        ],\n        \"person\": {\n            \"personId\": 28101,\n            \"personUUID\": \"b64f333f-d449-4c46-b4c6-5cd9a53ceabf\",\n            \"name\": \"area_do_condomino-4406\",\n            \"creationDate\": \"2023-02-24T20:11:50Z\",\n            \"updateDate\": \"2023-02-24T20:11:50Z\",\n            \"deleteDate\": null,\n            \"isActive\": true,\n            \"isFake\": true,\n            \"isWatchers\": false,\n            \"documentsValidation\": []\n        },\n        \"type\": {\n            \"companyTypeId\": 2,\n            \"name\": \"Condomínio\",\n            \"friendlyName\": \"Condomínio\",\n            \"gender\": \"M\",\n            \"creationDate\": \"2020-09-24T20:02:59Z\",\n            \"updateDate\": \"2020-09-24T20:02:59Z\"\n        },\n        \"rooms\": [\n            {\n                \"roomId\": 143750,\n                \"roomName\": \"Gruvi\",\n                \"legacyId\": \"e783095b-5342-40d9-ae57-e5505b527c5b@conference.spaces.superlogica.com\",\n                \"roomUUID\": \"e783095b-5342-40d9-ae57-e5505b527c5b\",\n                \"creationDate\": \"2023-09-25T15:16:16Z\",\n                \"updateDate\": \"2023-09-25T15:16:16Z\",\n                \"isActive\": true,\n                \"deleteDate\": null,\n                \"logo\": \"https://s3.amazonaws.com/spaces-core-files-production/2abb477858aa5353b2ad137ee7b12f979b08ce1edc2d285797d1b4cf64b03215/3f2372b81795656eeae8fffb2699318c32fe1401869b074ed8e39db8369c033a\",\n                \"rules\": \"\",\n                \"tags\": null,\n                \"groupId\": null,\n                \"type\": {\n                    \"typeId\": 20,\n                    \"typeName\": \"gruvi_conversation\",\n                    \"creationDate\": \"2021-04-13T18:35:56Z\",\n                    \"updateDate\": \"2021-04-13T18:35:56Z\",\n                    \"roles\": [\n                        {\n                            \"action\": \"join\",\n                            \"role\": \"nobody\"\n                        },\n                        {\n                            \"action\": \"post\",\n                            \"role\": \"room.members\"\n                        },\n                        {\n                            \"action\": \"find\",\n                            \"role\": \"room.members\"\n                        },\n                        {\n                            \"action\": \"invite\",\n                            \"role\": \"room.members\"\n                        },\n                        {\n                            \"action\": \"mute\",\n                            \"role\": \"room.members\"\n                        },\n                        {\n                            \"action\": \"create\",\n                            \"role\": \"nobody\"\n                        }\n                    ],\n                    \"description\": \"\",\n                    \"active\": true\n                },\n                \"superRoom\": null,\n                \"userPermissions\": {\n                    \"post\": true,\n                    \"find\": true,\n                    \"create\": false,\n                    \"mute\": true,\n                    \"join\": false,\n                    \"invite\": true\n                },\n                \"roomMembers\": [\n                    {\n                        \"memberId\": 424722,\n                        \"isAdmin\": false,\n                        \"isMute\": false,\n                        \"mutedTime\": null,\n                        \"sumTime\": null,\n                        \"creationDate\": \"2023-09-25T15:16:18Z\",\n                        \"updateDate\": \"2023-09-25T15:16:18Z\",\n                        \"person\": {\n                            \"personId\": 31045,\n                            \"personUUID\": \"5b31ef1b-af32-40de-9b35-eaffb905acb5\",\n                            \"name\": \"Celulardo01\",\n                            \"creationDate\": \"2023-09-25T15:11:26Z\",\n                            \"updateDate\": \"2023-09-25T15:11:26Z\",\n                            \"deleteDate\": null,\n                            \"isActive\": true,\n                            \"isFake\": false,\n                            \"isWatchers\": true,\n                            \"documentsValidation\": null\n                        },\n                        \"isCompanyAdmin\": false,\n                        \"personPluginCompanyTag\": null\n                    }\n                ],\n                \"visible\": true,\n                \"roomType\": {\n                    \"typeId\": 20,\n                    \"typeName\": \"gruvi_conversation\",\n                    \"creationDate\": \"2021-04-13T18:35:56Z\",\n                    \"updateDate\": \"2021-04-13T18:35:56Z\",\n                    \"roles\": [\n                        {\n                            \"action\": \"join\",\n                            \"role\": \"nobody\"\n                        },\n                        {\n                            \"action\": \"post\",\n                            \"role\": \"room.members\"\n                        },\n                        {\n                            \"action\": \"find\",\n                            \"role\": \"room.members\"\n                        },\n                        {\n                            \"action\": \"invite\",\n                            \"role\": \"room.members\"\n                        },\n                        {\n                            \"action\": \"mute\",\n                            \"role\": \"room.members\"\n                        },\n                        {\n                            \"action\": \"create\",\n                            \"role\": \"nobody\"\n                        }\n                    ],\n                    \"description\": \"\",\n                    \"active\": true\n                },\n                \"active\": true\n            },\n            {\n                \"roomId\": 110134,\n                \"roomName\": \"Moradores\",\n                \"legacyId\": \"2e3ad738-34ce-478b-9b11-0d69953bf0ce@conference.spaces.superlogica.com\",\n                \"roomUUID\": \"2e3ad738-34ce-478b-9b11-0d69953bf0ce\",\n                \"creationDate\": \"2023-02-24T20:11:50Z\",\n                \"updateDate\": \"2023-02-24T20:11:50Z\",\n                \"isActive\": true,\n                \"deleteDate\": null,\n                \"logo\": \"https://s3.amazonaws.com/spaces-core-files-production/3ddcac494cbe2734af99edc8545f179fd2cf412ad00e16c723d581a01abf3084/57fc349bc896dcfb0a2c1730b03128e2babe24ff236bee0c60c6fd2acf5a9f87\",\n                \"rules\": \"\",\n                \"tags\": [],\n                \"groupId\": null,\n                \"type\": {\n                    \"typeId\": 9,\n                    \"typeName\": \"Grupo de moradores\",\n                    \"creationDate\": \"2020-07-01T18:32:30Z\",\n                    \"updateDate\": \"2020-07-01T18:32:30Z\",\n                    \"roles\": [\n                        {\n                            \"action\": \"join\",\n                            \"role\": \"company.administrators\"\n                        },\n                        {\n                            \"action\": \"post\",\n                            \"role\": \"company.members\"\n                        },\n                        {\n                            \"action\": \"find\",\n                            \"role\": \"company.members\"\n                        },\n                        {\n                            \"action\": \"invite\",\n                            \"role\": \"company.administrators\"\n                        },\n                        {\n                            \"action\": \"mute\",\n                            \"role\": \"nobody\"\n                        },\n                        {\n                            \"action\": \"role\",\n                            \"role\": \"company.members\"\n                        },\n                        {\n                            \"action\": \"role\",\n                            \"role\": \"resident\"\n                        },\n                        {\n                            \"action\": \"create\",\n                            \"role\": \"nobody\"\n                        }\n                    ],\n                    \"description\": null,\n                    \"active\": true\n                },\n                \"superRoom\": {\n                    \"companyTypesSuperRoomsId\": 7,\n                    \"name\": \"Moradores\",\n                    \"defaultLogo\": \"https://s3.amazonaws.com/spaces-core-files-production/3ddcac494cbe2734af99edc8545f179fd2cf412ad00e16c723d581a01abf3084/57fc349bc896dcfb0a2c1730b03128e2babe24ff236bee0c60c6fd2acf5a9f87\",\n                    \"tags\": []\n                },\n                \"userPermissions\": {\n                    \"post\": true,\n                    \"find\": true,\n                    \"create\": false,\n                    \"mute\": false,\n                    \"join\": false,\n                    \"invite\": false\n                },\n                \"roomMembers\": [\n                    {\n                        \"memberId\": 424720,\n                        \"isAdmin\": false,\n                        \"isMute\": false,\n                        \"mutedTime\": null,\n                        \"sumTime\": null,\n                        \"creationDate\": \"2023-09-25T15:16:13Z\",\n                        \"updateDate\": \"2023-09-25T15:16:13Z\",\n                        \"person\": {\n                            \"personId\": 31045,\n                            \"personUUID\": \"5b31ef1b-af32-40de-9b35-eaffb905acb5\",\n                            \"name\": \"Celulardo01\",\n                            \"creationDate\": \"2023-09-25T15:11:26Z\",\n                            \"updateDate\": \"2023-09-25T15:11:26Z\",\n                            \"deleteDate\": null,\n                            \"isActive\": true,\n                            \"isFake\": false,\n                            \"isWatchers\": true,\n                            \"documentsValidation\": null\n                        },\n                        \"isCompanyAdmin\": false,\n                        \"personPluginCompanyTag\": null\n                    }\n                ],\n                \"visible\": true,\n                \"roomType\": {\n                    \"typeId\": 9,\n                    \"typeName\": \"Grupo de moradores\",\n                    \"creationDate\": \"2020-07-01T18:32:30Z\",\n                    \"updateDate\": \"2020-07-01T18:32:30Z\",\n                    \"roles\": [\n                        {\n                            \"action\": \"join\",\n                            \"role\": \"company.administrators\"\n                        },\n                        {\n                            \"action\": \"post\",\n                            \"role\": \"company.members\"\n                        },\n                        {\n                            \"action\": \"find\",\n                            \"role\": \"company.members\"\n                        },\n                        {\n                            \"action\": \"invite\",\n                            \"role\": \"company.administrators\"\n                        },\n                        {\n                            \"action\": \"mute\",\n                            \"role\": \"nobody\"\n                        },\n                        {\n                            \"action\": \"role\",\n                            \"role\": \"company.members\"\n                        },\n                        {\n                            \"action\": \"role\",\n                            \"role\": \"resident\"\n                        },\n                        {\n                            \"action\": \"create\",\n                            \"role\": \"nobody\"\n                        }\n                    ],\n                    \"description\": null,\n                    \"active\": true\n                },\n                \"active\": true\n            }\n        ],\n        \"groups\": [],\n        \"linkInvite\": \"https://gruvi.link/guest?r=c635222a-03f7-455b-a972-8db543b72b82\",\n        \"personsCount\": 132,\n        \"official\": true\n    },\n    {\n        \"companyId\": 4406,\n        \"name\": \"Gruvi\",\n        \"officialName\": \"\",\n        \"documentNumber\": \"\",\n        \"phone\": \"\",\n        \"site\": \"\",\n        \"facebook\": \"\",\n        \"linkedin\": \"\",\n        \"email\": \"\",\n        \"description\": \"\",\n        \"logo\": \"\",\n        \"isActive\": true,\n        \"address\": [],\n        \"creationDate\": \"2020-09-18T18:18:24Z\",\n        \"updateDate\": \"2021-12-10T14:52:30Z\",\n        \"deleteDate\": null,\n        \"companyPlugins\": [\n            {\n                \"pluginId\": 17,\n                \"companyId\": 1,\n                \"params\": {\n                    \"plugin_room_logo\": \"https://s3.amazonaws.com/gupy5/production/companies/810/career/1077/images/logo.jpg\",\n                    \"plugin_room_name\": \"Comunicados\",\n                    \"plugin_person_logo\": \"https://s3.amazonaws.com/gupy5/production/companies/810/career/1077/images/logo.jpg\",\n                    \"plugin_person_name\": \"Superlogica\"\n                },\n                \"creationDate\": \"2020-09-16T18:19:53Z\",\n                \"updateDate\": \"2023-05-19T13:50:01Z\",\n                \"externalId\": \"IDUNI00124\",\n                \"plugin\": {\n                    \"pluginId\": 17,\n                    \"name\": \"despesas-residenciais\",\n                    \"description\": \"Despesas residenciais\",\n                    \"installable\": true,\n                    \"uninstallable\": true,\n                    \"params\": {\n                        \"friendly_name\": \"Despesas Residenciais\",\n                        \"module_name\": \"despesasResidenciaisV1\",\n                        \"access\": null,\n                        \"module_version\": \"1.0\",\n                        \"company_schema\": {\n                            \"plugin_room_logo\": \"https://s3.amazonaws.com/gupy5/production/companies/810/career/1077/images/logo.jpg\",\n                            \"plugin_room_name\": \"Comunicados\",\n                            \"plugin_person_logo\": \"https://s3.amazonaws.com/gupy5/production/companies/810/career/1077/images/logo.jpg\",\n                            \"plugin_person_name\": \"Superlogica\"\n                        },\n                        \"person_schema\": null\n                    },\n                    \"creationDate\": \"2022-07-14T15:02:00Z\",\n                    \"updateDate\": \"2022-07-14T15:02:00Z\",\n                    \"pluginDependency\": null\n                }\n            }\n        ],\n        \"person\": {\n            \"personId\": 509,\n            \"personUUID\": \"e3aea250-c658-46fb-94c8-7d20b7553881\",\n            \"name\": \"Penna\",\n            \"creationDate\": \"2020-09-16T20:27:16Z\",\n            \"updateDate\": \"2022-11-01T20:29:46Z\",\n            \"deleteDate\": null,\n            \"isActive\": true,\n            \"isFake\": false,\n            \"isWatchers\": true,\n            \"documentsValidation\": [\n                {\n                    \"personsDocumentsId\": 30,\n                    \"personId\": 509,\n                    \"type\": \"mobile_number\",\n                    \"data\": \"***\",\n                    \"creationDate\": \"2022-10-05T20:02:58Z\",\n                    \"updateDate\": \"2022-10-05T20:02:58Z\"\n                },\n                {\n                    \"personsDocumentsId\": 31,\n                    \"personId\": 509,\n                    \"type\": \"email\",\n                    \"data\": \"***\",\n                    \"creationDate\": \"2022-10-05T20:02:58Z\",\n                    \"updateDate\": \"2022-10-05T20:02:58Z\"\n                },\n                {\n                    \"personsDocumentsId\": 32,\n                    \"personId\": 509,\n                    \"type\": \"email\",\n                    \"data\": \"***\",\n                    \"creationDate\": \"2022-10-05T20:02:58Z\",\n                    \"updateDate\": \"2022-10-05T20:02:58Z\"\n                },\n                {\n                    \"personsDocumentsId\": 33,\n                    \"personId\": 509,\n                    \"type\": \"email\",\n                    \"data\": \"***\",\n                    \"creationDate\": \"2022-10-05T20:02:58Z\",\n                    \"updateDate\": \"2022-10-05T20:02:58Z\"\n                },\n                {\n                    \"personsDocumentsId\": 34,\n                    \"personId\": 509,\n                    \"type\": \"email\",\n                    \"data\": \"***\",\n                    \"creationDate\": \"2022-10-05T20:02:58Z\",\n                    \"updateDate\": \"2022-10-05T20:02:58Z\"\n                },\n                {\n                    \"personsDocumentsId\": 35,\n                    \"personId\": 509,\n                    \"type\": \"email\",\n                    \"data\": \"***\",\n                    \"creationDate\": \"2022-10-05T20:02:58Z\",\n                    \"updateDate\": \"2022-10-05T20:02:58Z\"\n                },\n                {\n                    \"personsDocumentsId\": 36,\n                    \"personId\": 509,\n                    \"type\": \"email\",\n                    \"data\": \"***\",\n                    \"creationDate\": \"2022-10-05T20:02:58Z\",\n                    \"updateDate\": \"2022-10-05T20:02:58Z\"\n                },\n                {\n                    \"personsDocumentsId\": 37,\n                    \"personId\": 509,\n                    \"type\": \"email\",\n                    \"data\": \"***\",\n                    \"creationDate\": \"2022-10-05T20:02:58Z\",\n                    \"updateDate\": \"2022-10-05T20:02:58Z\"\n                },\n                {\n                    \"personsDocumentsId\": 38,\n                    \"personId\": 509,\n                    \"type\": \"cpf\",\n                    \"data\": \"***\",\n                    \"creationDate\": \"2022-10-05T20:02:58Z\",\n                    \"updateDate\": \"2022-10-05T20:02:58Z\"\n                }\n            ]\n        },\n        \"type\": {\n            \"companyTypeId\": 1,\n            \"name\": \"Empresa\",\n            \"friendlyName\": \"Empresa\",\n            \"gender\": \"F\",\n            \"creationDate\": \"2020-05-28T19:28:30Z\",\n            \"updateDate\": \"2020-05-28T19:28:30Z\"\n        },\n        \"rooms\": [],\n        \"personsCount\": 0,\n        \"official\": false\n    }\n]",
        "output": "json",
        "x": 400,
        "y": 820,
        "wires": [
            [
                "0d4ca7110a56a69e"
            ]
        ]
    },
    {
        "id": "0d4ca7110a56a69e",
        "type": "http response",
        "z": "aa0e170c91379e2f",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 660,
        "y": 820,
        "wires": []
    },
    {
        "id": "c07c868cfcee5e29",
        "type": "ui_form",
        "z": "aa0e170c91379e2f",
        "name": "",
        "label": "",
        "group": "be1439f3a0ba43d1",
        "order": 1,
        "width": 6,
        "height": 1,
        "options": [
            {
                "label": "Nome do filme",
                "value": "filmName",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "filmName": ""
        },
        "payload": "",
        "submit": "Pesquisar",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "e45f666c33227137"
            ]
        ]
    },
    {
        "id": "20505872b4e45f34",
        "type": "http request",
        "z": "aa0e170c91379e2f",
        "name": "GET filmes",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.themoviedb.org/3/search/movie?query={{{payload.filme}}}&include_adult=false&language=pt-BR&page=1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "other",
                "valueValue": ""
            }
        ],
        "x": 430,
        "y": 80,
        "wires": [
            [
                "e3983e9b805713b4"
            ]
        ]
    },
    {
        "id": "e3983e9b805713b4",
        "type": "debug",
        "z": "aa0e170c91379e2f",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 80,
        "wires": []
    },
    {
        "id": "10362547f079db28",
        "type": "inject",
        "z": "aa0e170c91379e2f",
        "name": "",
        "props": [
            {
                "p": "payload.filme",
                "v": "star",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "20505872b4e45f34"
            ]
        ]
    },
    {
        "id": "e45f666c33227137",
        "type": "template",
        "z": "aa0e170c91379e2f",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"page\": 1,\n    \"results\": [\n        {\n            \"adult\": false,\n            \"backdrop_path\": \"/A55WRPRK73zx1cuULDkdX4vriDO.jpg\",\n            \"genre_ids\": [\n                35,\n                28\n            ],\n            \"id\": 22599,\n            \"original_language\": \"en\",\n            \"original_title\": \"Star\",\n            \"overview\": \"The Driver now carries an arrogant rock star who is visiting a major city (not Pittsburgh as earlier believed). Played by Madonna, this title character wants to get away from her bodyguards in the Driver's BMW. He soon gets tired of her and decides to have a bit of fun.\",\n            \"popularity\": 7.492,\n            \"poster_path\": \"/zslEgrYEg6EDzOYrr8EfDoQK8j1.jpg\",\n            \"release_date\": \"2001-06-01\",\n            \"title\": \"Star\",\n            \"video\": false,\n            \"vote_average\": 6.837,\n            \"vote_count\": 245\n        },\n        {\n            \"adult\": false,\n            \"backdrop_path\": \"/m7hBkOBJomzIhbet60b6x4RTBRk.jpg\",\n            \"genre_ids\": [\n                18,\n                10402,\n                10749\n            ],\n            \"id\": 52959,\n            \"original_language\": \"en\",\n            \"original_title\": \"Star!\",\n            \"overview\": \"Drama musical baseado na vida (dentro e fora dos palcos) da atriz britânica Gertrude Lawrence.\",\n            \"popularity\": 8.406,\n            \"poster_path\": \"/xMyOm5hLWeuoWBea1DJrcJy8bU6.jpg\",\n            \"release_date\": \"1968-07-18\",\n            \"title\": \"A Estrela\",\n            \"video\": false,\n            \"vote_average\": 6.482,\n            \"vote_count\": 112\n        },\n        {\n            \"adult\": false,\n            \"backdrop_path\": \"/a1lMRUeGozBAczWaSoU1p3zLmGs.jpg\",\n            \"genre_ids\": [\n                10749,\n                18\n            ],\n            \"id\": 136244,\n            \"original_language\": \"en\",\n            \"original_title\": \"Star\",\n            \"overview\": \"When Crystal Wyatt was 16 her father passed away. From that time her life would never be the same. Crystal is banished from the family ranch, and starts a new life as a singer in a San Francisco nightclub.\",\n            \"popularity\": 8.122,\n            \"poster_path\": \"/jYmt7JBvAmRJ0FxPx2UayOQ1uOB.jpg\",\n            \"release_date\": \"1993-09-20\",\n            \"title\": \"Star\",\n            \"video\": false,\n            \"vote_average\": 6.008,\n            \"vote_count\": 118\n        },\n        {\n            \"adult\": false,\n            \"backdrop_path\": \"/osHpQQ5rcbmH41I4LQlPlprRGpk.jpg\",\n            \"genre_ids\": [\n                18,\n                10751\n            ],\n            \"id\": 125225,\n            \"original_language\": \"hi\",\n            \"original_title\": \"Star\",\n            \"overview\": \"Dev Kumar Verma comes from a middle-class family and must find employment to support his dad and mom. Dev, however, has set his mind upon becoming a music sensation like Elvis Presley. He loses his job because of this, and refuses to work until and unless he gets a job to his liking, much to the dismay of his parents and his brother, Shiv Kumar. Dev does get employment at Charlie's Disco, where he meets with Maya and falls in love with her.  When Charlie's Disco's competitor, Rana, finds out about Dev, he wants to hire Dev, but Dev decides to continue to work with Charlie's Disco, as a result Dev and Charlie get a beating by Rana's men, and Dev is unable to sing. After recuperating, Dev is devastated to find out that Maya and Shiv Kumar are in love with each other. What impact will this have on Dev and his brother on one hand, and what of his career in music?\",\n            \"popularity\": 3.78,\n            \"poster_path\": \"/pU7oXmVdNPrzj2XOGIQ6ciMnH42.jpg\",\n            \"release_date\": \"1982-10-22\",\n            \"title\": \"Star\",\n            \"video\": false,\n            \"vote_average\": 5.721,\n            \"vote_count\": 52\n        },\n        {\n            \"adult\": false,\n            \"backdrop_path\": \"/zDImYTJiECn1b79segxKr382DSe.jpg\",\n            \"genre_ids\": [\n                18\n            ],\n            \"id\": 449430,\n            \"original_language\": \"fr\",\n            \"original_title\": \"Star\",\n            \"overview\": \"Star is a young graffiti writer, the best in his city, Paris. His reputation attracts him as much into art galleries than in the police precincts. Accused of vandalism, he faces jail. Despite the threat, he decides to go to Rome with his crew in search of the meaning of his art.\",\n            \"popularity\": 3.081,\n            \"poster_path\": \"/zeGcw5pPVT4DhHrSLUDxE58QJQn.jpg\",\n            \"release_date\": \"2017-04-03\",\n            \"title\": \"Star\",\n            \"video\": false,\n            \"vote_average\": 5.891,\n            \"vote_count\": 32\n        },\n        {\n            \"adult\": false,\n            \"backdrop_path\": null,\n            \"genre_ids\": [\n                18\n            ],\n            \"id\": 812434,\n            \"original_language\": \"it\",\n            \"original_title\": \"Star\",\n            \"overview\": \"Giacomo is a low-level actor and voice actor with a great passion for acting. After another disappointing audition he has one last chance to get the part assigned\",\n            \"popularity\": 2.072,\n            \"poster_path\": \"/4oObDGDhycViadrRCC2XJwwXAcR.jpg\",\n            \"release_date\": \"2019-12-19\",\n            \"title\": \"Star\",\n            \"video\": false,\n            \"vote_average\": 6.281,\n            \"vote_count\": 32\n        },\n        {\n            \"adult\": false,\n            \"backdrop_path\": null,\n            \"genre_ids\": [\n                99,\n                10402\n            ],\n            \"id\": 719316,\n            \"original_language\": \"en\",\n            \"original_title\": \"Star\",\n            \"overview\": \"Documentary short film and music video for MIKAL's song \\\"Star\\\", comprised of footage of the actual recording process of the song itself.\",\n            \"popularity\": 2.567,\n            \"poster_path\": \"/5o0GyNlILqVxfteo7l31wB5qD2X.jpg\",\n            \"release_date\": \"2017-01-23\",\n            \"title\": \"Star\",\n            \"video\": false,\n            \"vote_average\": 6.267,\n            \"vote_count\": 31\n        },\n        {\n            \"adult\": false,\n            \"backdrop_path\": null,\n            \"genre_ids\": [\n                18\n            ],\n            \"id\": 1050338,\n            \"original_language\": \"fr\",\n            \"original_title\": \"Star\",\n            \"overview\": \"Star follows the path of Tito and Jay, two brothers living in the Montreal neighborhood of Park Extension. Accompanying these young people in their daily life marked by complicity and intimidation, Star tackles themes dear to teenagers: identity and friendship.\",\n            \"popularity\": 2.011,\n            \"poster_path\": null,\n            \"release_date\": \"\",\n            \"title\": \"Star\",\n            \"video\": false,\n            \"vote_average\": 6.3,\n            \"vote_count\": 29\n        },\n        {\n            \"adult\": false,\n            \"backdrop_path\": null,\n            \"genre_ids\": [],\n            \"id\": 611791,\n            \"original_language\": \"fr\",\n            \"original_title\": \"Star\",\n            \"overview\": \"Star follows the path of Tito and Jay, two brothers living in the Montreal neighborhood of Park Extension. Accompanying these young people in their daily life marked by complicity and intimidation, Star tackles themes dear to teenagers: identity and friendship.\",\n            \"popularity\": 1.817,\n            \"poster_path\": \"/hVGnSMBc42TGwvV5QTHpH0PgyJp.jpg\",\n            \"release_date\": \"2015-09-30\",\n            \"title\": \"Star\",\n            \"video\": false,\n            \"vote_average\": 5.788,\n            \"vote_count\": 33\n        },\n        {\n            \"adult\": false,\n            \"backdrop_path\": \"/5Iw7zQTHVRBOYpA0V6z0yypOPZh.jpg\",\n            \"genre_ids\": [\n                12,\n                28,\n                878\n            ],\n            \"id\": 181808,\n            \"original_language\": \"en\",\n            \"original_title\": \"Star Wars: The Last Jedi\",\n            \"overview\": \"A tranquila e solitária vida de Luke Skywalker sofre uma reviravolta quando ele conhece Rey, uma jovem que mostra fortes sinais da Força. O desejo dela de aprender o estilo dos Jedi força Luke a tomar uma decisão que mudará sua vida para sempre. Enquanto isso, Kylo Ren e o General Hux lideram a Primeira Ordem para um ataque total contra Leia e a Resistência pela supremacia da galáxia.\",\n            \"popularity\": 90.639,\n            \"poster_path\": \"/5dGufuaIG5vNcxPm8QPij5MSPeQ.jpg\",\n            \"release_date\": \"2017-12-13\",\n            \"title\": \"Star Wars: Episódio VIII - Os Últimos Jedi\",\n            \"video\": false,\n            \"vote_average\": 6.825,\n            \"vote_count\": 14311\n        },\n        {\n            \"adult\": false,\n            \"backdrop_path\": \"/jOzrELAzFxtMx2I4uDGHOotdfsS.jpg\",\n            \"genre_ids\": [\n                12,\n                28,\n                878\n            ],\n            \"id\": 181812,\n            \"original_language\": \"en\",\n            \"original_title\": \"Star Wars: The Rise of Skywalker\",\n            \"overview\": \"Com o retorno do Imperador Palpatine, todos voltam a temer seu poder e, com isso, a Resistência toma a frente da batalha que ditará os rumos da galáxia. Treinando para ser uma completa Jedi, Rey (Daisy Ridley) ainda se encontra em conflito com seu passado e futuro, mas teme pelas respostas que pode conseguir a partir de sua complexa ligação com Kylo Ren (Adam Driver), que também se encontra em conflito pela Força.\",\n            \"popularity\": 76.576,\n            \"poster_path\": \"/uLlrDUtFG2tKtDcJN6kBznlqqsp.jpg\",\n            \"release_date\": \"2019-12-18\",\n            \"title\": \"Star Wars: Episódio IX - A Ascensão Skywalker\",\n            \"video\": false,\n            \"vote_average\": 6.365,\n            \"vote_count\": 9047\n        },\n        {\n            \"adult\": false,\n            \"backdrop_path\": \"/8BTsTfln4jlQrLXUBquXJ0ASQy9.jpg\",\n            \"genre_ids\": [\n                12,\n                28,\n                878\n            ],\n            \"id\": 140607,\n            \"original_language\": \"en\",\n            \"original_title\": \"Star Wars: The Force Awakens\",\n            \"overview\": \"A queda de Darth Vader e do Império levou ao surgimento de uma nova força sombria: a Primeira Ordem. Eles procuram o jedi Luke Skywalker, desaparecido. A resistência tenta desesperadamente encontrá-lo antes para salvar a galáxia.\",\n            \"popularity\": 81.445,\n            \"poster_path\": \"/lqMDbo4rXnakFgc4C6LzPv6pG7F.jpg\",\n            \"release_date\": \"2015-12-15\",\n            \"title\": \"Star Wars: O Despertar da Força\",\n            \"video\": false,\n            \"vote_average\": 7.293,\n            \"vote_count\": 18352\n        },\n        {\n            \"adult\": false,\n            \"backdrop_path\": \"/npDrIM6ZbuD7nUxI7ZzNBxs4IRF.jpg\",\n            \"genre_ids\": [\n                28,\n                12,\n                878\n            ],\n            \"id\": 54138,\n            \"original_language\": \"en\",\n            \"original_title\": \"Star Trek Into Darkness\",\n            \"overview\": \"Os tripulantes da Enterprise descobrem uma força terrorista dentro da sua própria organização. O capitão Kirk desafia as regras da Frota Estelar e lidera uma missão para capturar uma arma de destruição em massa.\",\n            \"popularity\": 44.625,\n            \"poster_path\": \"/hHUHMuTwYBcQRMYK9z8jHZucnD3.jpg\",\n            \"release_date\": \"2013-05-05\",\n            \"title\": \"Além da Escuridão - Star Trek\",\n            \"video\": false,\n            \"vote_average\": 7.328,\n            \"vote_count\": 8589\n        },\n        {\n            \"adult\": false,\n            \"backdrop_path\": \"/ojHCeDULAkQK25700fhRU75Tur2.jpg\",\n            \"genre_ids\": [\n                878,\n                12,\n                28\n            ],\n            \"id\": 348350,\n            \"original_language\": \"en\",\n            \"original_title\": \"Solo: A Star Wars Story\",\n            \"overview\": \"Embarque na Millennium Falcon e viaje para uma galáxia distante em uma nova aventura com o mais amado canalha da galáxia. Através de uma série de ousadas aventuras no obscuro e perigoso submundo do crime, Han Solo encontra seu poderoso futuro copiloto Chewbacca e encontra o famoso jogador Lando Calrissian, em uma jornada que definirá o curso de um dos heróis mais improváveis da saga Star Wars.\",\n            \"popularity\": 84.484,\n            \"poster_path\": \"/jAMEX0syUh6sbjBiysibzrFpbo.jpg\",\n            \"release_date\": \"2018-05-15\",\n            \"title\": \"Han Solo: Uma História Star Wars\",\n            \"video\": false,\n            \"vote_average\": 6.563,\n            \"vote_count\": 7904\n        },\n        {\n            \"adult\": false,\n            \"backdrop_path\": \"/6t8ES1d12OzWyCGxBeDYLHoaDrT.jpg\",\n            \"genre_ids\": [\n                28,\n                12,\n                878\n            ],\n            \"id\": 330459,\n            \"original_language\": \"en\",\n            \"original_title\": \"Rogue One: A Star Wars Story\",\n            \"overview\": \"Em busca de uma nova esperança para a galáxia, a Aliança Rebelde enfrenta uma arriscada missão: roubar os planos que revelam uma falha na construção da Estrela da Morte. Para isso, eles contam com a ajuda de Jyn Erso, filha do criador da arma mais poderosa do império.\",\n            \"popularity\": 54.461,\n            \"poster_path\": \"/74C2YX0NLWnozVMRS56d5CKDdEv.jpg\",\n            \"release_date\": \"2016-12-14\",\n            \"title\": \"Rogue One: Uma História Star Wars\",\n            \"video\": false,\n            \"vote_average\": 7.488,\n            \"vote_count\": 14352\n        },\n        {\n            \"adult\": false,\n            \"backdrop_path\": \"/wDe8LzwuvHYYiuwyNfxdYQq8ti4.jpg\",\n            \"genre_ids\": [\n                12,\n                28,\n                878\n            ],\n            \"id\": 1893,\n            \"original_language\": \"en\",\n            \"original_title\": \"Star Wars: Episode I - The Phantom Menace\",\n            \"overview\": \"Enquanto resgatam a Rainha Amidala, governante de um planeta pacífico invadido por forças ameaçadoras, os Cavaleiros Jedi Obi-Wan Kenobi e Qui-Gon Jinn descobrem Anakin Skywalker, uma criança prodígio de 9 anos excepcionalmente poderosa na Força.\",\n            \"popularity\": 53.134,\n            \"poster_path\": \"/gNk8UNAumXlfCdtaxDqsQe7ZGlt.jpg\",\n            \"release_date\": \"1999-05-19\",\n            \"title\": \"Star Wars: Episódio I - A Ameaça Fantasma\",\n            \"video\": false,\n            \"vote_average\": 6.534,\n            \"vote_count\": 13550\n        },\n        {\n            \"adult\": false,\n            \"backdrop_path\": \"/5vDuLrjJXFS9PTF7Q1xzobmYKR9.jpg\",\n            \"genre_ids\": [\n                12,\n                28,\n                878\n            ],\n            \"id\": 1895,\n            \"original_language\": \"en\",\n            \"original_title\": \"Star Wars: Episode III - Revenge of the Sith\",\n            \"overview\": \"As Guerras Clônicas estão em pleno andamento e Anakin Skywalker mantém um elo de lealdade com Palpatine, ao mesmo tempo em que luta para que seu casamento com Padmé Amidala não seja afetado por esta situação. Seduzido por promessas de poder, Anakin se aproxima cada vez mais de Darth Sidious até se tornar o temível Darth Vader. Juntos eles tramam um plano para aniquilar de uma vez por todas com os cavaleiros jedi.\",\n            \"popularity\": 54.516,\n            \"poster_path\": \"/nuF5yWtTJEEAd4Qa6cVkYz1XCST.jpg\",\n            \"release_date\": \"2005-05-17\",\n            \"title\": \"Star Wars: Episódio III - A Vingança dos Sith\",\n            \"video\": false,\n            \"vote_average\": 7.411,\n            \"vote_count\": 12752\n        },\n        {\n            \"adult\": false,\n            \"backdrop_path\": \"/abwxHfymXGAbbH3lo9PDEJEfvtW.jpg\",\n            \"genre_ids\": [\n                12,\n                28,\n                878\n            ],\n            \"id\": 1894,\n            \"original_language\": \"en\",\n            \"original_title\": \"Star Wars: Episode II - Attack of the Clones\",\n            \"overview\": \"Com a missão de proteger a Senadora Amidala, Anakin Skywalker descobre o seu amor por ela, do mesmo modo que vai conhecendo seu lado sombrio. Obi-Wan Kenobi descobre um exército de clones à medida que a Galáxia caminha para uma grande guerra.\",\n            \"popularity\": 50.569,\n            \"poster_path\": \"/9m1nJ2MfTG5QEmjOCg0b4YCo4W8.jpg\",\n            \"release_date\": \"2002-05-15\",\n            \"title\": \"Star Wars: Episódio II - Ataque dos Clones\",\n            \"video\": false,\n            \"vote_average\": 6.551,\n            \"vote_count\": 12288\n        },\n        {\n            \"adult\": false,\n            \"backdrop_path\": \"/m4F1KRK5jAoQHi2mKDFE2jFKEIb.jpg\",\n            \"genre_ids\": [\n                28,\n                12,\n                878\n            ],\n            \"id\": 188927,\n            \"original_language\": \"en\",\n            \"original_title\": \"Star Trek Beyond\",\n            \"overview\": \"Desta vez, Kirk, Spock e a tripulação da Enterprise encontram-se no terceiro ano da missão de exploração do espaço prevista para durar cinco anos. Eles recebem um pedido de socorro que acaba os ligando ao maléfico vilão Krall, um insurgente Anti-Frota Estelar interessado em um objeto de posse do líder da nave. A Enterprise é atacada, e eles acabam em um planeta desconhecido, onde o grupo acaba sendo dividido em duplas.\",\n            \"popularity\": 56.142,\n            \"poster_path\": \"/zC2lEQjA4X814UnvekmdkM5hXmk.jpg\",\n            \"release_date\": \"2016-07-07\",\n            \"title\": \"Star Trek: Sem Fronteiras\",\n            \"video\": false,\n            \"vote_average\": 6.781,\n            \"vote_count\": 6226\n        },\n        {\n            \"adult\": false,\n            \"backdrop_path\": \"/fMRrTziefy0c6v45IUyByGjZCRo.jpg\",\n            \"genre_ids\": [\n                18\n            ],\n            \"id\": 970284,\n            \"original_language\": \"en\",\n            \"original_title\": \"Shooting Stars\",\n            \"overview\": \"Sonhando em viver do basquete, o jovem LeBron James começa sua trajetória com o time de sua escola. Com seus amigos e colegas de time, ele alcança o posto entre os melhores jogadores do mundo.\",\n            \"popularity\": 23.106,\n            \"poster_path\": \"/rzOxUgqkQeKyhyuKZqIj87VqFUg.jpg\",\n            \"release_date\": \"2023-06-02\",\n            \"title\": \"Shooting Stars: A Vida de Lebron James\",\n            \"video\": false,\n            \"vote_average\": 8.2,\n            \"vote_count\": 84\n        }\n    ],\n    \"total_pages\": 225,\n    \"total_results\": 4486\n}",
        "output": "json",
        "x": 380,
        "y": 200,
        "wires": [
            [
                "34d013ba59765ca4"
            ]
        ]
    },
    {
        "id": "f348150218f7036d",
        "type": "debug",
        "z": "aa0e170c91379e2f",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 200,
        "wires": []
    },
    {
        "id": "f6c4b9a8fdc8f806",
        "type": "inject",
        "z": "aa0e170c91379e2f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "e45f666c33227137"
            ]
        ]
    },
    {
        "id": "34d013ba59765ca4",
        "type": "function",
        "z": "aa0e170c91379e2f",
        "name": "itera os resultados",
        "func": "\nmsg.payload = msg.payload.results[0];\n\nreturn msg;\n\n\nif(msg.payload?.results?.length) {\n    for (var i = 0; i < msg.payload.results.length; i++) {\n        var newMsg = {};\n        newMsg.payload = {\n            name: msg.payload.results[i].id,\n            age: msg.payload.results[i].popularity\n        }\n        node.send(newMsg);\n    }\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 200,
        "wires": [
            [
                "f348150218f7036d",
                "51f0a59a455eee50",
                "43a5ef879cc18313",
                "ee508222c9347f97"
            ]
        ]
    },
    {
        "id": "51f0a59a455eee50",
        "type": "ui_text",
        "z": "aa0e170c91379e2f",
        "group": "9b81770e912bf6fa",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "text",
        "format": "{{msg.payload.popularity}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 810,
        "y": 260,
        "wires": []
    },
    {
        "id": "ee508222c9347f97",
        "type": "ui_text",
        "z": "aa0e170c91379e2f",
        "group": "639665f5f0a31743",
        "order": 1,
        "width": 6,
        "height": 5,
        "name": "",
        "label": "text",
        "format": "{{msg.payload.vote_count}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 810,
        "y": 400,
        "wires": []
    },
    {
        "id": "43a5ef879cc18313",
        "type": "ui_text",
        "z": "aa0e170c91379e2f",
        "group": "9b81770e912bf6fa",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "text",
        "format": "{{msg.payload.overview}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 810,
        "y": 320,
        "wires": []
    },
    {
        "id": "2bde15c2729289c0",
        "type": "ui_ui_control",
        "z": "fad77afd5310f66e",
        "name": "",
        "events": "all",
        "x": 1060,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "cf7ba68758539afc",
        "type": "change",
        "z": "fad77afd5310f66e",
        "name": "Login Criado",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Home",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 120,
        "wires": [
            [
                "1d4d2707941282f8",
                "2bde15c2729289c0",
                "be2fd71149ef7a0c"
            ]
        ]
    },
    {
        "id": "7c1be42f7279f7ef",
        "type": "inject",
        "z": "fad77afd5310f66e",
        "name": "Enviar dados cadastro",
        "props": [
            {
                "p": "payload.id",
                "v": "asdasdasdasasdasd",
                "vt": "str"
            },
            {
                "p": "payload.nome",
                "v": "Rick Goncalves",
                "vt": "str"
            },
            {
                "p": "payload.email",
                "v": "rickcveras@hotmail.com",
                "vt": "str"
            },
            {
                "p": "payload.password",
                "v": "123456789",
                "vt": "str"
            },
            {
                "p": "data_criacao",
                "v": "2023-09-27 22:51:36",
                "vt": "str"
            },
            {
                "p": "data_atualizacao",
                "v": "2023-09-27 22:51:36",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "cf7ba68758539afc",
                "5456c9d2bc53b0e2"
            ]
        ]
    },
    {
        "id": "1d4d2707941282f8",
        "type": "ui_toast",
        "z": "fad77afd5310f66e",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "Usuario criado com sucesso",
        "name": "",
        "x": 860,
        "y": 180,
        "wires": []
    },
    {
        "id": "be2fd71149ef7a0c",
        "type": "template",
        "z": "fad77afd5310f66e",
        "name": "Mostar Home",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\"tabs\":\n    {\n    \"show\":[\"Home\"],\n    \"hide\": [\"Login\",\"Criar login\"]\n    }\n}",
        "output": "json",
        "x": 860,
        "y": 40,
        "wires": [
            [
                "2bde15c2729289c0"
            ]
        ]
    },
    {
        "id": "bb09c06b5969ec54",
        "type": "e-mail",
        "z": "fad77afd5310f66e",
        "server": "smtp-mail.outlook.com",
        "port": "587",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": false,
        "tls": true,
        "name": "",
        "dname": "envio de email",
        "x": 680,
        "y": 220,
        "wires": [],
        "info": "As configurações precisam estar nas variáveis de amviente"
    },
    {
        "id": "5456c9d2bc53b0e2",
        "type": "function",
        "z": "fad77afd5310f66e",
        "name": "Conteudo E-mail",
        "func": "\nmsg.to = msg.payload.email\nmsg.from =\"GrupoPFiap@outlook.com\"\nmsg.topic =\"Usuario criado com Sucesso\"\nmsg.payload=`Caro ${msg.payload.nome},\\n Seu usuario foi criado com sucesso no projeto do Grupo P \\n Obrigado por Participar`\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Login: GrupoPFiap@outlook.com\n// Senha: GrupoP1234\n",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 220,
        "wires": [
            [
                "bb09c06b5969ec54"
            ]
        ]
    },
    {
        "id": "86811a38248a1029",
        "type": "inject",
        "z": "fad77afd5310f66e",
        "name": "Enviar dados login",
        "props": [
            {
                "p": "payload.user",
                "v": "octaviogarcia1988@gmail.com",
                "vt": "str"
            },
            {
                "p": "payload.password",
                "v": "030488",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 520,
        "wires": [
            [
                "33cda78a26a5eb12"
            ]
        ]
    },
    {
        "id": "33cda78a26a5eb12",
        "type": "change",
        "z": "fad77afd5310f66e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "login",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 600,
        "wires": [
            [
                "0c09ab2c0edf28dd"
            ]
        ]
    },
    {
        "id": "730fc47b58f13e3e",
        "type": "switch",
        "z": "fad77afd5310f66e",
        "name": "",
        "property": "Banco.user",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "login.user",
                "vt": "msg"
            },
            {
                "t": "neq",
                "v": "login.user",
                "vt": "msg"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1070,
        "y": 480,
        "wires": [
            [
                "9d6631d9f78ce25a"
            ],
            []
        ]
    },
    {
        "id": "9d6631d9f78ce25a",
        "type": "change",
        "z": "fad77afd5310f66e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Banco.status.user",
                "pt": "msg",
                "to": "user Correto",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 420,
        "wires": [
            [
                "94a5e2a734ae11f0"
            ]
        ]
    },
    {
        "id": "94a5e2a734ae11f0",
        "type": "switch",
        "z": "fad77afd5310f66e",
        "name": "",
        "property": "login.password",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Banco.password",
                "vt": "msg"
            },
            {
                "t": "neq",
                "v": "Banco.password",
                "vt": "msg"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1450,
        "y": 420,
        "wires": [
            [
                "63ae7dc26e61e63d"
            ],
            [
                "da531b26dbb91d6f"
            ]
        ]
    },
    {
        "id": "63ae7dc26e61e63d",
        "type": "change",
        "z": "fad77afd5310f66e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Banco.status.pass",
                "pt": "msg",
                "to": "Senha correta",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1640,
        "y": 320,
        "wires": [
            [
                "0cb3ba15f42966f2"
            ]
        ]
    },
    {
        "id": "0c09ab2c0edf28dd",
        "type": "http request",
        "z": "fad77afd5310f66e",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://qazlfsxxnbvcupqtqqxf.supabase.co/rest/v1/ctj_autorizacao?select=*",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "apikey",
                "valueType": "other",
                "valueValue": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFhemxmc3h4bmJ2Y3VwcXRxcXhmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTY5Njg2MDU1MywiZXhwIjoyMDEyNDM2NTUzfQ.g-AmyyofnSMuew141w9ZM_TgpX23-tAKctFPOuoameI"
            }
        ],
        "x": 470,
        "y": 520,
        "wires": [
            [
                "a840fbe8d5891ea7"
            ]
        ]
    },
    {
        "id": "a840fbe8d5891ea7",
        "type": "split",
        "z": "fad77afd5310f66e",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 610,
        "y": 600,
        "wires": [
            [
                "a0e80884061a84bc"
            ]
        ]
    },
    {
        "id": "a0e80884061a84bc",
        "type": "switch",
        "z": "fad77afd5310f66e",
        "name": "",
        "property": "payload.user",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "login.user",
                "vt": "msg"
            },
            {
                "t": "neq",
                "v": "login.user",
                "vt": "msg"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 520,
        "wires": [
            [
                "c14ffcfa9a12c831"
            ],
            []
        ]
    },
    {
        "id": "c14ffcfa9a12c831",
        "type": "change",
        "z": "fad77afd5310f66e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "Banco",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 480,
        "wires": [
            [
                "730fc47b58f13e3e"
            ]
        ]
    },
    {
        "id": "e35218c18d5d3f00",
        "type": "ui_toast",
        "z": "fad77afd5310f66e",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1850,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "da531b26dbb91d6f",
        "type": "change",
        "z": "fad77afd5310f66e",
        "name": "Msg Login Inválido",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Login e/ou Senha Invalidos, verifique as informações e tente novamente",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 500,
        "wires": [
            [
                "e35218c18d5d3f00"
            ]
        ]
    },
    {
        "id": "147e86807d437930",
        "type": "template",
        "z": "fad77afd5310f66e",
        "name": "Mostar Home",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\"tabs\":\n    {\n    \"show\":[\"Home\"],\n    \"hide\": [\"Login\",\"Criar login\"]\n    }\n}",
        "output": "json",
        "x": 2460,
        "y": 400,
        "wires": [
            [
                "536c3a9b53a764e8"
            ]
        ]
    },
    {
        "id": "6a6841a6896d1a52",
        "type": "change",
        "z": "fad77afd5310f66e",
        "name": "Carregar pag Home",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Home",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2220,
        "y": 320,
        "wires": [
            [
                "147e86807d437930",
                "536c3a9b53a764e8"
            ]
        ]
    },
    {
        "id": "536c3a9b53a764e8",
        "type": "ui_ui_control",
        "z": "fad77afd5310f66e",
        "name": "",
        "events": "all",
        "x": 2680,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "5868f5b283b6c9fd",
        "type": "ui_toast",
        "z": "fad77afd5310f66e",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 2120,
        "y": 400,
        "wires": []
    },
    {
        "id": "0cb3ba15f42966f2",
        "type": "change",
        "z": "fad77afd5310f66e",
        "name": "Acesso concluido",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Acesso Liberado",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1910,
        "y": 320,
        "wires": [
            [
                "6a6841a6896d1a52",
                "5868f5b283b6c9fd"
            ]
        ]
    },
    {
        "id": "a0581af64c0474b2",
        "type": "http request",
        "z": "fad77afd5310f66e",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "body",
        "url": "https://qazlfsxxnbvcupqtqqxf.supabase.co/rest/v1/ctj_autorizacao?user=eq.{{login.email}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "apikey",
                "valueType": "other",
                "valueValue": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFhemxmc3h4bmJ2Y3VwcXRxcXhmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTY5Njg2MDU1MywiZXhwIjoyMDEyNDM2NTUzfQ.g-AmyyofnSMuew141w9ZM_TgpX23-tAKctFPOuoameI"
            }
        ],
        "x": 450,
        "y": 860,
        "wires": [
            [
                "3d77febdf40456c3"
            ]
        ]
    },
    {
        "id": "26c4ff17a33e824f",
        "type": "inject",
        "z": "fad77afd5310f66e",
        "name": "Enviar dados cadastro",
        "props": [
            {
                "p": "payload.email",
                "v": "Teste12@teste.com",
                "vt": "str"
            },
            {
                "p": "payload.password",
                "v": "1234",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 180,
        "y": 840,
        "wires": [
            [
                "be9882261c06bbea"
            ]
        ]
    },
    {
        "id": "be9882261c06bbea",
        "type": "change",
        "z": "fad77afd5310f66e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "login",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 920,
        "wires": [
            [
                "a0581af64c0474b2"
            ]
        ]
    },
    {
        "id": "47c64150b8181db2",
        "type": "ui_toast",
        "z": "fad77afd5310f66e",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1030,
        "y": 920,
        "wires": [
            [
                "07d5d36286fe7c1f"
            ]
        ]
    },
    {
        "id": "bc135416a8c7769c",
        "type": "change",
        "z": "fad77afd5310f66e",
        "name": "Msg Login Inválido",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Email já cadastrado, por favor verifique seus dados",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 920,
        "wires": [
            [
                "47c64150b8181db2"
            ]
        ]
    },
    {
        "id": "3d77febdf40456c3",
        "type": "switch",
        "z": "fad77afd5310f66e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 860,
        "wires": [
            [
                "d76b6480741b5728"
            ],
            [
                "bc135416a8c7769c"
            ]
        ]
    },
    {
        "id": "07d5d36286fe7c1f",
        "type": "change",
        "z": "fad77afd5310f66e",
        "name": "Login já existe",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "login",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 860,
        "wires": [
            [
                "d507c781e1c3a501"
            ]
        ]
    },
    {
        "id": "d507c781e1c3a501",
        "type": "ui_ui_control",
        "z": "fad77afd5310f66e",
        "name": "",
        "events": "all",
        "x": 1400,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "aec96f0e957ef152",
        "type": "http request",
        "z": "fad77afd5310f66e",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "https://qazlfsxxnbvcupqtqqxf.supabase.co/rest/v1/ctj_autorizacao?user=eq.{{login.email}}&password=eq.{{login.password}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "apikey",
                "valueType": "other",
                "valueValue": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFhemxmc3h4bmJ2Y3VwcXRxcXhmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTY5Njg2MDU1MywiZXhwIjoyMDEyNDM2NTUzfQ.g-AmyyofnSMuew141w9ZM_TgpX23-tAKctFPOuoameI"
            },
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/x-www-form-urlencoded"
            },
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "other",
                "valueValue": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFhemxmc3h4bmJ2Y3VwcXRxcXhmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTY5Njg2MDU1MywiZXhwIjoyMDEyNDM2NTUzfQ.g-AmyyofnSMuew141w9ZM_TgpX23-tAKctFPOuoameI"
            }
        ],
        "x": 1070,
        "y": 760,
        "wires": [
            [
                "7570d97fbbfd2876"
            ]
        ]
    },
    {
        "id": "d76b6480741b5728",
        "type": "template",
        "z": "fad77afd5310f66e",
        "name": "",
        "field": "header",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"user\": \"{{login.email}}\",\n    \"password\": \"{{login.password}}\"\n}",
        "output": "json",
        "x": 700,
        "y": 760,
        "wires": [
            [
                "f48aa24daef7f6e2"
            ]
        ]
    },
    {
        "id": "f48aa24daef7f6e2",
        "type": "function",
        "z": "fad77afd5310f66e",
        "name": "function 1",
        "func": "msg.payload=msg.header;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 760,
        "wires": [
            [
                "aec96f0e957ef152"
            ]
        ]
    },
    {
        "id": "43cc58186db23fe4",
        "type": "template",
        "z": "fad77afd5310f66e",
        "name": "Mostar Home",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\"tabs\":\n    {\n    \"show\":[\"Home\"],\n    \"hide\": [\"Login\",\"Criar login\"]\n    }\n}",
        "output": "json",
        "x": 1980,
        "y": 680,
        "wires": [
            [
                "8e349b47a97e1ab0"
            ]
        ]
    },
    {
        "id": "b169e0c59e7432d0",
        "type": "change",
        "z": "fad77afd5310f66e",
        "name": "Carregar pag Home",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Home",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1740,
        "y": 760,
        "wires": [
            [
                "43cc58186db23fe4",
                "8e349b47a97e1ab0"
            ]
        ]
    },
    {
        "id": "8e349b47a97e1ab0",
        "type": "ui_ui_control",
        "z": "fad77afd5310f66e",
        "name": "",
        "events": "all",
        "x": 2180,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "5953c4756a504461",
        "type": "ui_toast",
        "z": "fad77afd5310f66e",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1630,
        "y": 680,
        "wires": []
    },
    {
        "id": "789b9c77d15246f8",
        "type": "change",
        "z": "fad77afd5310f66e",
        "name": "Acesso concluido",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Acesso Cadastrado",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1430,
        "y": 760,
        "wires": [
            [
                "b169e0c59e7432d0",
                "5953c4756a504461"
            ]
        ]
    },
    {
        "id": "7570d97fbbfd2876",
        "type": "change",
        "z": "fad77afd5310f66e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "Banco",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 680,
        "wires": [
            [
                "789b9c77d15246f8"
            ]
        ]
    },
    {
        "id": "04aa548983effda0",
        "type": "ui_template",
        "z": "c4bb2b1dcfa16364",
        "group": "a6d03c119ba764d7",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    a,button {\n        cursor: pointer;\n    }\n    .w{\n    width: 100%;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 100,
        "y": 40,
        "wires": [
            []
        ]
    }
]